header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.1s ease-in;
  background: dodgerblue;
  box-shadow: 0 0 0.4rem black;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.3rem black;
}

.closeIcon,
.closeIconActive {
  transition: all 1s ease-out;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.closeIcon:hover,
.closeIconActive:hover {
  font-size: 2.8rem;
}

.closeIcon {
  text-shadow: 0 0 0.3rem black;
  transition: all 1s ease-out;
}

.closeIconActive {
  position: fixed;
  top: 0;
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #d1b0b0, #e06e9e);
  background: linear-gradient(to right, #d1b0b0, #e06e9e);
  box-shadow: 0 0 0.4rem black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.4s ease-in;
}

.headerMinimized {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.4s ease-in;
}

@media (min-width: 880px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .closeIcon,
  .closeIconActive {
    display: none;
  }

  .closeIconActive {
    left: 48%;
  }
}

@media (min-width: 451) and (max-width: 880px) {
  header h1 {
    font-size: 1.5rem;
  }

  .closeIcon,
  .closeIconActive {
    right: 2.8rem;
    padding: 0.8rem;
  }
  .closeIcon {
    right: 2.8rem;
  }
  .closeIconActive {
    right: 2.8rem;
  }
}

@media (max-width: 450px) {
  header h1 {
    font-size: 1rem;
  }

  .closeIcon {
    padding: 0.4rem;
  }

  .closeIconActive {
    padding: 0.8rem;
    left: 35%;
  }
}
