.mainContainer {
  overflow-x: auto;
  position: fixed;
  z-index: 52;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 0.3rem black;
}

.fadeInDiv {
  transition: all 0.5s ease-in;
}

/* Events Chooser */
.eventsTypeHandler {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 50%;
  z-index: 51;
  height: 8%;
  overflow: hidden;
  place-content: center;
  transition: all 1s ease-in;
  border: 0;
}

.eventsTypeHandler div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  place-content: center;
  align-items: center;
  border: 0;
  transition: all 0.4s ease-in;
}

.eventsTypeHandler > div:hover {
  background: rgba(198, 208, 218, 0.459);
  border: 0;
  outline: 0;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.activeThumb {
  outline: 0;
  background: rgba(255, 255, 255, 0.349);
  transition: all 0.4s ease-in;
}

.activeThumb:focus,
.activeThumb:hover {
  border: 0;
  outline: 0;
}
/* Events Chooser - END */

.sideContainer {
  z-index: 50;
  /* filter: drop-shadow(0 0 0.3rem black); */
}

.sideContainer,
.eventsTypeHandler {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(200, 195, 188);
  text-shadow: 0 0 0.4rem black;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  transition: all 1s ease-in;
}

.sideContainer h2 {
  font-size: 1.5rem;
}

.eventsHeader {
  background: grey;
  padding: 0.1rem 1rem;
  background: rgba(59, 59, 65, 0.623);
  margin: 0.1rem;
}

.eventsHeader > div {
  padding: 0.1rem;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
  padding: 0.1rem 0;
  cursor: pointer;
}

.events {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-shadow: 0 0 0.3rem black;
}

.events:hover {
  background: rgb(53, 53, 53);
}

.eventLogo {
  margin-left: -0.4rem;
  padding: 0.5rem;
  filter: drop-shadow(0 0 0.4rem black);
}

.eventInfo h5 {
  margin: 0.2rem;
}

.eventInfo span {
  font-size: 0.8rem;
  margin: 0.3rem;
}

.mobileContainer:active {
  background: white;
  color: dodgerblue;
}

.mobileContainer {
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-radius: 2rem;
  color: white;
  background: dodgerblue;
  padding: 0.6rem 0.9rem;
  margin: auto;
  text-shadow: 0 0 0.3rem black;
  filter: drop-shadow(0 0 0.2rem black);
  transition: all 0.2s ease-in;
  outline: 0;
}

.slideIn {
  animation: slideRight 0.2s ease-in;
}

@keyframes slideRight {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(20%);
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .mobileContainer {
    left: 3%;
    bottom: 4%;
  }
}

@media (min-width: 1000px) {
  .mainContainer {
    top: 64px;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .mobileContainer {
    left: 5%;
    /* top: 1%; */
  }

  .sideContainer {
    display: flex;
    flex-direction: column;
  }
}

/* Filter */

.dateFilter {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  text-align-last: center;
  margin: 0.6rem;
  text-align-last: left;
}

.dateHeader {
  /* padding: 0.2rem; */
  margin-right: 1rem;
}

.dateFilterContainer,
.iconSelectContainer {
  display: flex;
}

.dataSelect {
  display: flex;
  flex-direction: column;
  color: rgb(189, 189, 189);
  background: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(134, 134, 134);
  height: 1.1rem;
  /* width: fit-content; */
  padding: 0.2rem;
  overflow: hidden;
  transition: all 1s ease-out;
  text-shadow: 0 0 0.2rem black;
  margin-top: -0.3rem;
}

.dataSelect:hover {
  height: 3rem;
  transition: all 1s ease-in;
}

.dataSelect div {
  padding: 0.1rem;
  height: 1.6rem;
}

.dataSelect div,
.dateSelect div:focus,
.dateSelect div:active {
  cursor: pointer;
  outline: none;
  width: inherit;
}

.dateSelect > div:hover {
  background: grey;
}

/* FILTER ICONS */

.iconSelectContainer {
  margin-top: 0.7rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.iconSelect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.2rem;
  text-align: center;
  place-content: center;
}

.iconSelect button {
  display: flex;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  align-items: center;
  border-radius: 0.2rem;
  outline: none;
  border: 0;
  transition: all 0.4s ease;
  filter: drop-shadow(0 0 0.3rem black);
}

.iconSelect button:hover {
  background-color: black;
  color: white;
  transform: translateY(-0.2rem);
  /* font-size: 3rem; */
}

.iconSelect button:active {
  outline: none;
  border: 0;
}

/* FILTER ICONS - END */

/* FILTER - END */

/*scroll bar*/
.mainContainer::-webkit-scrollbar {
  width: 1em;
}

.mainContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(255, 255, 255, 0.3);
}

.mainContainer::-webkit-scrollbar-thumb {
  background-color: rgb(87, 80, 80);
  outline: 0 solid rgb(109, 150, 192);
}

.mainContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 170, 170);
  outline: 0 solid rgb(109, 150, 192);
}

/*scroll bar*/
