.locationInfo {
  position: fixed;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  color: #fff;
  text-shadow: 0 0 0.3rem black;
  box-shadow: 0 0 0.3rem black;
  transition: all 1s ease-in;
  align-items: center;
  text-align: center;
}

h2 span {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 880px) {
  .locationInfo {
    top: 5rem;
    right: 1rem;
    width: 18rem;
    min-width: 13rem;
    min-height: fit-content;
    padding: 0.3rem;
  }
}

@media (max-width: 880px) {
  .locationInfo {
    right: 0;
    left: 0;
    bottom: 6.5rem;
    padding: 0.3rem;
    margin: 0.4rem;
    min-height: 8rem;
  }
}

.locationInfo h2 {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-bottom: 1px solid white;
}

.locationInfoBottom {
  padding: 0.8rem;
  margin: 0.3rem;
}

.locationDiv {
  font-size: 1rem;
}

.eventLocationDiv {
  font-size: 1.5rem;
}

.locationPointer {
  background: rgb(0, 0, 0);
  filter: drop-shadow(0 0 0.2rem black);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0.35rem;
  width: auto;
  position: fixed;
  outline: none;
}

.locationPointer > :hover {
  left: -50%;
  transform: translateY(-50%);
  font-size: 3.4rem;
  padding: 0.5rem;
}

.locationPointer .fireIcon:focus,
.locationPointer .fireIcon:focus-visible {
  outline: none;
}
